.services {
  padding: 110px 8%;
  color: #e5e7eb;
  position: relative;
  overflow: hidden;

  background:
    radial-gradient(
      circle at top left,
      rgba(56,189,248,.08),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(14,165,233,.06),
      transparent 40%
    ),
    #020617;
}

/* BACKGROUND EFFECT */

.services::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(56,189,248,.025) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(56,189,248,.025) 1px,
      transparent 1px
    );

  background-size: 40px 40px;
  z-index: 0;
}

.services::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    320px circle at
    var(--mouse-x,50%)
    var(--mouse-y,50%),
    rgba(56,189,248,.08),
    transparent 45%
  );

  z-index: 0;
}

/* TITLE */

.section-title {
  position: relative;
  z-index: 2;

  text-align: center;
  font-size: 44px;
  margin-bottom: 18px;
  color: #f8fafc;
}

.section-title span {
  color: #38bdf8;
}

/* GRID */

.services-grid {
  position: relative;
  z-index: 2;

  margin-top: 60px;
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(270px,1fr));
  gap: 35px;
}

/* CARD */

.service-card {
  position: relative;
  overflow: hidden;

  padding: 40px 32px;
  border-radius: 22px;

  background:
    rgba(15,23,42,.82);

  backdrop-filter: blur(14px);

  border:
    1px solid rgba(56,189,248,.12);

  transition: .45s;
}

/* TOP SHINE */

.service-card::before {
  content: "";
  position: absolute;
  top: -120%;
  left: -30%;
  width: 140%;
  height: 220%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,.08),
    transparent
  );

  transform: rotate(25deg);
  transition: .7s;
}

.service-card:hover::before {
  top: 100%;
}

/* ICON */

.icon {
  font-size: 42px;
  margin-bottom: 22px;
  transition: .45s;
}

/* TEXT */

.service-card h3 {
  font-size: 23px;
  margin-bottom: 14px;
  color: #f8fafc;
}

.service-card p {
  line-height: 1.8;
  color: #cbd5e1;
  font-size: 15px;
}

/* HOVER */

.service-card:hover {
  transform:
    translateY(-10px)
    scale(1.02);

  border-color: #38bdf8;

  box-shadow:
    0 20px 40px rgba(56,189,248,.15);
}

.service-card:hover .icon {
  transform:
    rotate(-8deg)
    scale(1.12);
}

/* RESPONSIVE */

@media(max-width:768px){

  .section-title{
    font-size:36px;
  }

  .service-card{
    padding:35px 26px;
  }
}

@media(max-width:480px){

  .services{
    padding:85px 6%;
  }

  .section-title{
    font-size:32px;
  }
}