.services {
  padding: 100px 8%;
  background: #020617;
  color: #fff;
}

.section-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
}

.section-title span {
  color: #38bdf8;
}

/* GRID */
.services-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

/* CARD */
.service-card {
  position: relative;
  padding: 40px 30px;
  background: linear-gradient(145deg, #020617, #020617);
  border: 1px solid #1e293b;
  border-radius: 16px;
  transition: all 0.4s ease;
  overflow: hidden;
}

/* GLOW BORDER */
.service-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: linear-gradient(120deg, transparent, #38bdf8, transparent);
  opacity: 0;
  transition: 0.4s;
}

.service-card:hover::before {
  opacity: 0.15;
}

/* ICON */
.icon {
  font-size: 42px;
  margin-bottom: 20px;
}

/* TEXT */
.service-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #cbd5f5;
}

/* HOVER EFFECT */
.service-card:hover {
 transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 20px 40px rgba(56, 189, 248, 0.15);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .section-title {
    font-size: 34px;
  }

  .service-card {
    padding: 35px 25px;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 80px 6%;
  }

  .section-title {
    font-size: 30px;
  }
}
